@font-face {
    font-family: Noto;
    src: url(../fonts/noto.ttf);
}

@font-face {
    font-family: Major;
    src: url(../fonts/major.ttf);
}

html {
    overflow-y: scroll;
    scrollbar-width: none;
}

body {
    background-color: var(--background);
    color: var(--foreground1);
    font-family: "Noto";
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    width: 480px;
    height: 520px;
    user-select: none;
}

h3 {
    font-weight: 500;
    font-size: 20px;
}

label {
    font-weight: 200;
    font-size: 16px;
}

a {
    color: var(--accent1);
    font-weight: 700;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    border: 1px solid var(--background3);
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="button"] {
    height: 36px;
    padding: 0px 16px;
    background-color: var(--background3);
    border: 1px solid #ffffff10;
    border-radius: 4px;
    border-bottom: 1px solid #00000020;
    color: var(--foreground1);
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    transition: 0.2s;
}

    button[type="button"]:hover {
        background: var(--background2);
    }

.accent-button {
    background-color: var(--accent1) !important;
    color: var(--background) !important;
}

    .accent-button:hover {
        background: var(--accent2) !important;
    }

.page-title {
    font-size: 24px;
    font-weight: 300;
    transform: translateY(1px);
}

.tabbar-left {
    position: fixed;
    left: 50%;
    margin: 0 0 0 -25%;
    width: 50%;
}

.tabbar-right {
    position: fixed;
    right: 16px;
    top: 12px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: var(--background-acrylic);
    backdrop-filter: blur(10px);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 24px;
}

.main-content {
    margin-top: 48px;
    margin-bottom: 56px;
    padding: 16px;
}

.icon-button {
    border: none;
    cursor: pointer;
    color: var(--foreground);
    filter: var(--icon-filter);
}

.fullview-popup {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.notification-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 24px;
    text-align: center;
    pointer-events: none;
}

.caption-label {
    font-size: 12px;
    color: var(--foreground3);
    margin-top: 8px;
}

.flex-justify {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-aligned {
    margin-left: auto;
}

.width-fill {
    width: 100%;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    margin-top: 4px;
}

    .toggle input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background3);
    transition: .4s;
    border-radius: 12px;
}


input[type="checkbox"]:not(:disabled):hover:checked + .slider {
    background-color: var(--accent2);
}

input[type="checkbox"]:checked + .slider {
    background-color: var(--accent1);
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--foreground2);
    transition: .4s;
    border-radius: 50%;
}

input[type="checkbox"]:checked + .slider:before {
    background-color: white;
    transform: translateX(22px);
}

input[type="checkbox"]:not(:disabled):not(:checked):hover + .slider:before {
    background-color: var(--foreground1);
}

input[type="checkbox"]:disabled + .slider:before {
    opacity: 0.5;
}

dialog {
    border: 0px;
    background-color: var(--background);
    color: var(--foreground1);
    width: 100%;
    height: 100%;
}

.dialog-button-container {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

dialog h2 {
    margin: 0 8px 16px 8px;
}

dialog p {
    margin: 0 0 4px 8px;
    min-height: 12px;
}

#credentialItemRoot {
    display: flex;
    justify-content: space-between;
    background-color: var(--background1);
    border: 1px solid var(--background3);
    margin: 16px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 2px 4px 6px #00000010;
}

    #credentialItemRoot:hover {
        background-color: var(--background2);
    }

    #credentialItemRoot.active {
        background-color: var(--accent-acrylic);
        box-shadow: 0px 0px 32px var(--accent);
    }

#credentialItemTitle {
    font-weight: 500;
    font-size: 18px;
    color: var(--foreground);
    margin: 12px;
    padding: 2px 0px 2px 0px;
}

#credentialItemTotp {
    font-family: Major;
    font-size: 24px;
    color: var(--foreground);
    margin: 12px;
}

#mainPageCopyNotification {
    display: none;
    padding: 8px 16px;
    margin: 0px;
    border-radius: 8px;
    color: var(--foreground);
    border: 1px solid var(--background3);
    box-shadow: 0px 0px 32px var(--accent);
    background-color: var(--accent-acrylic);
    backdrop-filter: blur(10px);
}

#mainPageCredentialsView {
    list-style-type: none;
    padding: 0;
}

#mainPageProgressBar {
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to bottom, transparent, var(--accent1));
    position: fixed;
    width: 100%;
    height: 32px;
    top: 18px;
}

#settingsPageContent {
    padding: 8px 24px;
}


#settingsPageGetAppContent {
    margin: 0px;
}

::-webkit-scrollbar {
    display: none;
}
