:root {
    /* Background */
    --background: #202020;
    --background1: #2b2b2b;
    --background2: #323232;
    --background3: #434343;
    --background-acrylic: #32323280;
    /* Foreground */
    --foreground: #ffffff;
    --foreground1: #f4f4f4;
    --foreground2: #c8c8c8;
    --foreground3: #c8c8c8;
    /* Accent */
    --accent: #8046db;
    --accent1: #a287d1;
    --accent2: #9774d3;
    --accent3: #8d60d6;
    --accent-acrylic: #302445;
    /* Icon filter */
    --icon-filter: invert(100%);
}
