name: Common Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run_tests:

    runs-on: ubuntu-latest
    name: "Run Common Tests"

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Run Tests
      run: dotnet test Authi.Common/Authi.Common.Test/Authi.Common.Test.csproj --verbosity minimal
